body{
	background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(burj.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	
	
	
	
}

.login-page{
	width: 360px;
	padding: 10% 0 0;
	margin: auto;
	
	}
	
.form{
	position: relative;
	z-index: 1;
	background: rgba(7,49,195,0.8);
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: left;
	  
	
	
	
}

.form input{
	
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
	
	
	
}
.form font{
	
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	outline: 1;
	background: rgba(7,49,195,0.8);
	width: 100%;
	border: 0;
	margin: 25px 50px 75px 1px;
	
	
	
	
	
}

.form button{
	
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
        margin-bottom: 0pt; 
	
	
	
}

.container {
  font-family: "Roboto", sans-serif;
	font-size: 12px;
  display: block;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12pt;
  cursor: pointer;
  
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}





